# Eclipse & CubeIDE
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
[Rr]elease
[Dd]ebug

## External tool builders
.externalToolBuilders/

## Locally stored "Eclipse launch configurations"
.launch

## CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

## Uncomment this line if you wish to ignore the project description file.
## Typically, this file would be tracked if it contains build/dependency configurations:
##.project

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

## Local History for Visual Studio Code
.history/

## Built Visual Studio Code Extensions
*.vsix

# JetBrains
.idea

# macOS General
.DS_Store

# C General
## Prerequisites
*.d

## Object files
*.o
*.ko
*.obj
*.elf

## Linker output
*.ilk
*.map
*.exp

## Precompiled Headers
*.gch
*.pch

## Libraries
*.lib
*.a
*.la
*.lo

## Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

## Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

## Debug files
*.dSYM/
*.su
*.idb
*.pdb

## Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf